{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!-- Content block -->
{% block content %}
<div class="row">
    <div class="col-md-12">
        <!-- Popular movie -->
        <h3 style = "text-align: center;"> Popular Movies</h3>
        <div>
            {{ macro.displayMovieList(popular)}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <!-- Upcoming movie  -->
        <h3 style = "text-align: center;"> Upcoming Movies </h3>
        <div>
            {{ macro.displayMovieList(upcoming)}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <!-- Now showing movie -->
        <h3 style = "text-align: center;">Now Showing</h3>
        <div>
            {{ macro.displayMovieList(now_showing)}}
        </div>
    </div>
</div>





{% endblock%}




